* {box-sizing: border-box;}
#wrap{
    min-width: 320px; width: 100%; margin: auto;
    background-color: #FEC43F;
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
header{width: 100%; height: 90px; border-bottom: 6px solid #5F3926;}
header h1{
    font-size: 40px; font-weight: 700; 
    letter-spacing: -2px; text-align: center;
    padding-top: 30px; color: #5F3926;
}
header .more{
    /*position: relative;width: 57px; height: 55px;*/
    position: relative; bottom: 48px; left: 14px;
}
header .more img{
    /*position: absolute; left: 14px; bottom: 6px; width: 57px; height: 55px;*/
}
header nav{
    /*display: none;*/
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}
header nav ul{
    width: 80%; height: 100%;
    background-color: #FFF4DA;
}
header nav ul li{
    width: 100%; height: 47px; 
    padding: 10px 22px;
}
header nav ul li.tit{padding-bottom: 150px;}
header nav ul li.tit a{font-size: 35px;}
header nav ul li a{
    color: #5F3926; font-size: 24px;
    padding: 10px; font-weight: 700;
}
header nav ul li a span{margin-right: 10px; font-size: 15px; vertical-align: middle;}
header nav ul li a img{position: relative; right: 10px; top: 15px;}
header nav .closeBtn1{
    position: relative; left: 240px; bottom: 798px; 
    width: 50px; height: 50;
    background-color: #fff; border-radius: 10px; 
    padding: 5px; z-index: 20;
}
header nav .closeBtn1 img{display: block;}
header .closeBtn2{
    /*position: relative;*/
    position: relative; bottom: 55px; left: 246px;
}
header .closeBtn2 img{
    /*position: absolute; left: 320px; bottom: 193px;*/   
}
section{background-color: #fff;}
section #orDetail{
    text-align: center; padding: 30px 16px;
}
#orDetail .detail_1{}
#orDetail .detail_1 img{}
#orDetail .detail_1 p{
    margin-top: 28px;
    font-size: 18; color: #5F3926; font-weight: bold; 
    line-height: 1.3; letter-spacing: 1px;
}

#orDetail .detail_2{
    margin-top: 22px; 
    font-size: 18px; text-align: center; font-weight: bold;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
#orDetail .detail_2 button{padding: 7px 24px; border: 2px solid #5F3926;}
#orDetail .detail_2 .btn01, 
#orDetail .detail_2 .btn02{
    width: 89px; height: 50px;
    margin-right: 5px;
}
#orDetail .btn01:focus, 
#orDetail .btn01:active, 
#orDetail .btn02:focus,
#orDetail .btn02:active{background-color: #5F3926; color: #fff;}
#orDetail .detail_2 #size{
    width: 141px; height: 50px; 
    border: 2px solid #5F3926; vertical-align: top;
    font-size: 18px; text-align: center;
}
#orDetail .detail_2 #topping{
    margin-top: 15px;
    width: 337px; height: 50px; 
    border: 2px solid #5F3926; vertical-align: top;
    font-size: 18px; text-align: center;
}
#orDetail .detail_2 div.count{overflow: auto; width: 50%; float: left;}
#orDetail .detail_2 div.count #amount{
    height: 50px; width: 160px;
    border: 2px solid #5F3926; vertical-align: top;
    font-size: 18px; /*text-align: center;*/
    float: left; margin-left: 3px; margin-top: 15px;
    padding-left: 20px;
}
#orDetail .detail_2 div.count button{
    display: block; width: 20px; height: 20px;
    position: relative; left: 110px; bottom: 50px;
    border: 0;
}
#orDetail .detail_2 div.total{
    height: 50px; width: 160px; float: right;
    border: 2px solid #5F3926;
    font-size: 18px; text-align: center;
    margin-top: 15px;
}
#orDetail .detail_2 div.total p{line-height: 50px;}
#orDetail .detail_2 .btn03{clear: both; float: left; margin-top: -30px; height: 50px; width: 160px; margin-left: 3px;}
#orDetail .detail_2 .btn04{float: right; height: 50px;  margin-top: -30px; width: 160px; margin-left: 3px;}
#orDetail .detail_2 .btn05{clear: both; width: calc(100% - 3px); height: 50px; margin-top: 15px; margin-left: 3px;}







